   
body {
    margin: 20px;
}

#mainbox{
    padding: 10px;
    width: 700px;
    height: 100%;
    border: black none 1px;
    box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
}

.ball {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px; /*수직정렬*/
    border: 1px none solid;
    border-radius: 30px;
    font: bold;
    font-size: 25px;
    color:white;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    vertical-align: middle; 
    text-align: center;
    float: left;
    margin-right: 6px;
}

.noball {
    background: gray;
}

.ball1 {
    background: aqua;
}

.ball2 {
    background:aquamarine;
}

.ball3 {
    background: rgb(90, 58, 133);
}

.ball4 {
    background: #88ff12
}

.wrap {
    overflow: hidden;
}

p {
    margin-left: 10px;
    font-size: 20px;
}
